---
import PageLayout from "../layouts/PageLayout.astro";

import { Blockquote, Heading, Hr, Carousel } from "flowbite-svelte";
import { QuoteSolid } from "flowbite-svelte-icons";

import { Image, getImage, imageConfig } from "astro:assets";
import pyrImage from "../images/OSB-pyr-trans-custom.png";

import camp24Image from "../images/carousel-images/camp24.jpg";
import fofClinton1Image from "../images/carousel-images/fof-clinton1.jpg";
import fofClinton2Image from "../images/carousel-images/fof-clinton2.jpg";
let carouselImages: { src: string }[] = [];
const preoptimizedImageSrcs = [fofClinton1Image, camp24Image, fofClinton2Image];
await Promise.all(
	preoptimizedImageSrcs.map(async (imageSrc, index) => {
		let optimizedImage = await getImage({
			src: imageSrc,
			width: imageSrc.width,
			height: imageSrc.height,
			format: "webp",
		});
		carouselImages[index] = { src: optimizedImage.src };
	}),
);

const pageTitle = "";
---

<PageLayout
	title={pageTitle}
	description="Home of the Old Sanc Boys! Check out some pics, music, and how to get in contact with us."
>
	<div class="w-full relative">
		<Image
			class="max-h-svh w-auto max-w-sm md:max-w-2xl lg:max-w-4xl mx-auto"
			src={pyrImage}
			width={pyrImage.width / 2}
			height={pyrImage.height / 2}
			alt="Picture of the old sanc boys with their instruments looking really, really cool."
			loading="lazy"
		/>
		<div
			class="-translate-x-1/2 -translate-y-1/2 absolute top-2/3 left-1/2 w-full text-center"
		>
			<Heading
				tag="h1"
				class="mb-4 text-white spac"
				customSize="text-4xl md:text-8xl font-extrabold tracking-widest"
			>
				<span style="text-shadow: 0 0 10px rgb(149, 148, 166);">
					Old Sanc Boys
				</span>
			</Heading>
		</div>
	</div>

	<div class="flex items-center justify-center content-center w-full mt-14">
		<figure class="mt-8 mx-auto max-w-screen-md text-center">
			<QuoteSolid
				class="mx-auto mb-3 w-12 h-12 text-gray-400 dark:text-gray-600"
			/>
			<Blockquote class="tracking-wide" alignment="center" size="2xl">
				"The joke gone too far."
			</Blockquote>
			<figcaption
				class="flex justify-center items-center mt-6 space-x-3 rtl:space-x-reverse"
			>
				<div
					class="flex items-center divide-x-2 rtl:divide-x-reverse divide-gray-500 dark:divide-gray-700"
				>
					<cite
						class="tracking-wider pe-3 font-medium text-gray-900 dark:text-white"
						>Josh Scott</cite
					>
				</div>
			</figcaption>
		</figure>
	</div>

	<Hr hrClass="w-64 h-1 mx-auto my-14 rounded md:my-10" />

	<div class="flex justify-center mt-10">
		<!-- <div class="w-screen mx-5 lg:max-w-7xl md:max-w-4xl max-w-xl"> -->
		<div class="mx-5 w-screen lg:max-w-2xl md:max-w-xl max-w-xl">
			<Carousel client:idle images={carouselImages} duration={4500} />
		</div>
	</div>

	<!-- <div class="w-full flex items-center content-center justify-center">
		<Timeline class="m-auto w-10/12 max-w-lg">
			<TimelineItem
				title="Application UI code in Tailwind CSS"
				date="February 2022"
			>
				<p
					class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400"
				>
					Get access to over 20+ pages including a dashboard layout,
					charts, kanban board, calendar, and pre-order E-commerce &
					Marketing pages.
				</p>
			</TimelineItem>
		</Timeline>
		<div></div>
	</div> -->
</PageLayout>
