---
import PageLayout from "../layouts/PageLayout.astro";
import AlbumCover from "../components/AlbumCover.svelte";

import thriveCover from "../../src/images/Thrive.jpg";

const pageTitle = "Music";

let bottomPaddingCSS = "lg:pb-20 md:pb-16 pb-12";
const albums = [
    { title: "Thrive", imageSrc: thriveCover.src, href: "https://google.com" },
];
---

<PageLayout title={pageTitle}>
    <div class="w-full">
        {
            albums.map((item, index) => (
                <div class=`${index!=albums.length-1 && bottomPaddingCSS} w-10/12 md:w-2/5 lg:w-2/5 mx-auto flex justify-center items-center flex-col max-w-lg`>
                    <AlbumCover
                        albumTitle={item.title}
                        imageSrc={item.imageSrc}
                        href={item.href}
                        client:load
                    />
                </div>
            ))
        }
    </div>
</PageLayout>
