---
import "../styles/tailwind.css";

const { title } = Astro.props;
---

<title>{title ? title + " | OSB" : "OSB"}</title>
<meta name="description" content="Old Sanc Boys" />
<meta name="keywords" content="" />
<!-- <link rel="stylesheet" href="../styles/tailwind.css" /> -->
<link rel="icon" href="/favicon.png" />
