---
import "../styles/tailwind.css";

const { title, description } = Astro.props;
---

<title>{title ? title + " | Old Sanc Boys" : "Old Sanc Boys"}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="keywords" content="old sanc boys oldsancboys osb" />
<!-- <link rel="stylesheet" href="../styles/tailwind.css" /> -->
<link rel="icon" href="/favicon.png" />
