---
import BaseHead from "../components/BaseHead.astro";
import NavBar from "../components/NavBar.svelte";
import Footer from "../components/Footer.svelte";

import { Heading, Badge } from "flowbite-svelte";

const { title } = Astro.props;
const activeUrl = Astro.url.pathname;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead title={title} />
  </head>
  <body class="flex flex-col min-h-screen">
    <main class="flex-1">
      <NavBar client:load activeUrl={activeUrl} />

      <Heading
        tag="h1"
        class="flex items-center justify-center p-14 md:p-20 lg:p-28"
        size="text-4xl"
      >
        {title}
      </Heading>

      <article>
        <slot />
        <!-- your content is injected here -->
      </article>
    </main>
    <Footer />
  </body><style>
    h1 {
      font-size: 4rem;
    }
  </style>
</html>
